<h3>Edit Recipe</h3>

<form action="/recipes/<%= @recipe.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<div>
		Title: <input type="text" name="title" value="<%= @recipe.title %>">
	</div>
	<div>
		Prep Time: <input type="text" name="prep_time" value="<%= @recipe.prep_time %>">
	</div>
	<div>
		Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
	</div>
	<div>
		Directions: <input type="text" name="directions" value="<%= @recipe.directions %>">
	</div>
	<div>
		Image URL: <input type="text" name="image_url" value="<%= @recipe.image_url %>">
	</div>
	<div>
		Choose a chef: 
		<select name="user_id">
			<% @users.each do |user| %>
				<option value="<%= user.id %>"><%= user.name %></option>
			<% end %>
		</select>
	</div>
	<input type="submit" value="Update Recipe">
</form>

<div>
	<a href="/recipes/<%= @recipe.id %>" data-method="delete">Delete Recipe</a>
</div>