<h2><%= @recipe.title %></h2>
<h3><%= @recipe.ingredients %></h3>
<h3><%= @recipe.directions %></h3>
<h4><%= @recipe.friendly_prep_time %></h4>

<a href="/recipes/<%= @recipe.id %>/edit">Edit</a>
<a href="/recipes">All Recipes</a>